@model PizzaStoreMVC.UI.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            @*<form action="" method="post">*@
        <form asp-Action="CreatePizza">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @{
                    var locationSelectList = new SelectList(PizzaStoreLibrary.library.Models.Location.Locations.Select(l => l.Name).ToList());
                }

                <label asp-for="Location" class="control-label"></label>
                @Html.DropDownListFor(o => o.Location, locationSelectList, "None")
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="UserName" class="control-label"></label>
                @Html.DropDownListFor(o => o.UserName, Model.userNames, "None")
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="list-group">
                @if (Model.Id != 0)
                {
                    int count = 1;
                    foreach (var pizza in PizzaStoreLibrary.library.Models.Order.GetById(Model.Id).Pizzas)
                    {
                        <span>Pizza: @(count++) Price: @(pizza.Price)</span>
                        <span>Toppings: </span>
                        foreach (var topping in pizza.Ingredients)
                        {
                            <span> @topping.Name + </span>
                        }
                    }
                    <span>Total Price: @(PizzaStoreLibrary.library.Models.Order.GetById(Model.Id).TotalPrice)</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="PizzaToppings" class="table-primary"></label>
                @foreach (var ingredient in PizzaStoreLibrary.library.Models.Ingredient.Ingredients)
                {
                    @ingredient.Name
                    <input asp-for=PizzaToppings[ingredient.Name] class="form-control" />
                }
                <span asp-validation-for="PizzaToppings" class="text-danger"></span>
            </div>

            @Html.HiddenFor(m => m.Id)



            <input type="submit" value="Add Pizza To Order" name="AddPizza" id="AddPizza" />
            <input type="submit" value="Place Order" name="PlaceOrder" id="PlaceOrder" />
            <input type="submit" value="Place Order To Default Location" name="Default" id="Default" />
            <input type="submit" value="Suggest Order" name="Suggest" id="Suggest" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
